.dashboard-layout {

  &.dashboard-layout-animation {
    animation: dashboard-layout-animation 0.5s ease;
  }

  @keyframes dashboard-layout-animation {
    0% {
      scale: 3;
      opacity: 0;
    }

    100% {
      scale: 1;
      opacity: 1;
    }
  }
}