@use "../../variables.scss" as *;

.app-layout {
  overflow-y: hidden;
  height: 100vh;

  .app-layout-page {
    overflow-y: auto;
    width: calc(100vw);
    height: calc(100vh - 31px);

    &::-webkit-scrollbar {
      width: 5px;
      height: 0px;
    }
  }

  .box-container {
    padding: 20px;
    width: 100%;
    background-color: $container-bg;
    border: 1px solid $darkblue;
  }

  .title {
    font-size: 1.7em;
    font-weight: bold;
  }

  .border {
    border: 1px solid $darkblue !important;
  }

  .noborder {
    border: none !important;
  }

  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .gridauto {
    display: grid;
    gap: 10px;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .grid-col-2 {
    grid-column: span 2;
  }

  .flex1 {
    flex: 1;
  }

  .box {
    padding: 15px;
    background-color: $box-bg;
    border: 1px solid $darkblue;
    border-radius: 5px;

    .content {
      flex: 1;

      fieldset {
        border: 1px solid $darkblue;
        border-radius: 1px;
        padding: 5px 5px 10px 5px;

        legend {
          margin-left: 10px;
          color: #aeaeae;
          font-size: 14px;
        }

        span {
          color: #f1f1f1;
          font-size: 16px;
          margin-left: 5px;
        }
      }

      p {
        color: #c1c1c1;
        font-size: 16px;
      }
    }
  }

  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #bfb477;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

}