.electron-top-bar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 31px;
  background-color: #000;
  border-bottom: 1px solid #131313;
  -webkit-app-region: drag;


  .top-bar-title {
    font-size: 14px;
    font-weight: 600;
    font-family: "Cascadia", sans-serif;

    .title {
      color: #f5db41;
    }

    .isConnected {
      margin-left: calc(25px - (7px / 2));
      margin-right: calc(25px - (7px / 2));
      width: 7px;
      height: 7px;
      border-radius: 50%;
      transition: all 2s;

      &.connected {
        background-color: rgba(49, 225, 49, 0.7);
        animation: connected 5s infinite;
      }

      &.disconnected {
        background-color: rgba(255, 0, 0, 0.5);
        filter: blur(2px);
      }

      @keyframes connected {
        0% {
          box-shadow: 0 0 5px #429742;
          filter: drop-shadow(0 0 5px #429742) blur(1px);
        }

        50% {
          box-shadow: 0 0 10px #00ff00;
          filter: drop-shadow(0 0 5px #0db60d) blur(2px);
        }

        100% {
          box-shadow: 0 0 5px #429742;
          filter: drop-shadow(0 0 5px #429742) blur(1px);
        }
      }
    }
  }

  .icon-container {
    color: #f5db41;
    position: absolute;
    right: 136px;
    z-index: 1000;
    width: max-content;
    height: 30px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: no-drag;

    .version {
      color: rgba(169, 255, 88, 0.45);
      font-size: 12px;
      font-weight: 100;
      font-family: "Cascadia", sans-serif;
      padding: 0 10px;
    }

    .icon-item {
      cursor: default;
      width: 45px;
      min-width: 45px;
      max-width: 45px;
      height: 30px;
      transition: all 0.15s;

      &:hover {
        background-color: #222222;
      }
    }
  }
}