.web-apps-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #555;

  th,
  td {
    border: 1px solid #555;
    text-align: center;
    padding: 10px;
  }

  td {
    font-size: 14px;
    font-weight: 400;
  }

  tr:nth-child(even) {
    background-color: #333;
  }

  .ssl {
    &.no {
      color: #ff5353;
      font-weight: bold;
    }
  }

  .nginxStatus {
    &.inactive {
      color: #ff5353;
      font-weight: bold;
    }
  }

  .pm2Status {
    &.stopped {
      color: #ff5353;
      font-weight: bold;
    }
  }

  .open-button-container {
    padding: 0px;

    .open-button {
      width: calc(100% - 20px);
      padding: 10px;
      background-color: #2a2a2a;
      color: white;
      border: none;
      font-weight: bold;

      &:hover {
        background-color: #2f3034;
      }
    }
  }
}