.manage-global-packages-page {
  overflow-y: auto;
  width: calc(100vw - 50px);
  height: calc(100vh - 31px);

  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  .box-container {
    border: none;
  }

  .app-title {
    font-size: 1.2em !important;
    margin-bottom: 10px !important;
    font-weight: bold !important;
    color: white !important;
  }

  .app-description {
    font-size: 0.75em !important;
    text-align: center !important;
  }

  .highlight {
    all: unset !important;
    background-color: #424242 !important;
    color: #eeeeee !important;
    padding: 2px 5px !important;
    border-radius: 5px !important;
  }
}