@font-face {
  font-family: "Cascadia";
  src: url("/fonts/Cascadia.ttf");
}

@font-face {
  font-family: "GeistVF";
  src: url("/fonts/GeistVF.woff");
}

body {
  font-family: "GeistVF", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 30px);
  background-color: #1c1b1f;
  margin-top: 30px;
}

.yellow-title {
  color: #f5db41;
}

.purple-title {
  color: #6658ff;
}

.button {
  width: max-content;
  padding: 7px 10px;
  border-radius: 4px;
  font-family: "Cascadia", sans-serif;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }

  &.yellow {
    background-color: transparent;
    color: #f5db41;
    border: 1px solid #555;

    &:hover {
      background-color: #524810;
    }
  }

  &.purple {
    background-color: transparent;
    color: #837eff;
    border: 1px solid #555;

    &:hover {
      background-color: #201f41;
    }
  }

  &.red {
    background-color: transparent;
    color: #ff5555;
    border: 1px solid #555;

    &:hover {
      background-color: #491616;
    }
  }

  &.green {
    background-color: transparent;
    color: #66ed66;
    border: 1px solid #555;

    &:hover {
      background-color: #103e10;
    }
  }

  &.gray {
    background-color: transparent;
    color: #d3d3d3;
    border: 1px solid #555;

    &:hover {
      background-color: #2f3034;
    }
  }
}

.form-item {
  width: 100%;

  label {
    font-size: 14px;
    color: #e1d169;
  }

  input {
    width: calc(100% - 24px);
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #333;
    background: #171619;
    color: #fff;
    font-size: 14px;

    &:focus {
      outline: none;
      border: 1px solid #60592b;
    }

    &::placeholder {
      color: #666;
    }
  }

  textarea {
    width: calc(100% - 24px);
    min-height: 120px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #333;
    background: #171619;
    color: #fff;
    font-size: 12px;

    &:focus {
      outline: none;
      border-color: #60592b;
    }
  }
}