$dark-bg: #020a13;
$dark2-bg: #041325;
$container-bg: #040d1a;
$box-bg: #0c1520;
$box-hover-bg: #17273b;




$yellow: #f5db41;
$purple: #6658ff;
$light-purple: #837eff;
$red: #ff5555;
$green: #66ed66;
$gray: #d3d3d3;

$yellow-bg: #524810;
$purple-bg: #393859;
$red-bg: #491616;
$green-bg: #103e10;
$gray-bg: #1e2328;

$classic-border: #333;
$golden: #664e26;
$darkblue: #17273b;