$dark-bg: #020a13;
$dark2-bg: #041325;
$container-bg: #040d1a;
$box-bg: #0e1825;
$box-hover-bg: #17273b;

$yellow: #f5db41;
$yellow-bg: #524810;
$golden: #664e26;

$purple: #6658ff;
$light-purple: #837eff;
$purple-bg: #393859;
$darkpurple-bg: #1e1d36;

$orange: #ffb073;
$orange-bg: #492e16;

$red: #ff5555;
$red-bg: #491616;

$green: #66ed66;
$green-bg: #103e10;

$blue: #66c2ff;
$blue-bg: #173346;
$darkblue: #17273b;

$gray: #d3d3d3;
$gray-bg: #1e2328;

$classic-border: #333;