@use "../../variables.scss" as *;

.home-page {
  flex: 1;
  padding: 20px;

  .header-buttons {
    margin-top: -25px;
  }

  .saved-connection {
    padding: 20px;
    background-color: $box-bg;
    border: 1px solid $darkblue;
    border-radius: 1px;
    transition: all 0.2s ease;

    &:hover {
      background-color: $box-hover-bg;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .host {
      font-size: 0.8rem;
      color: #b6b6b6;
    }

    .username {
      font-size: 0.8rem;
      color: #b6b6b6;
    }
  }

  &.login-animation {
    animation: login-animation 0.5s ease;
  }

  @keyframes login-animation {
    0% {
      scale: 1;
      opacity: 1;
    }

    100% {
      scale: 0.5;
      opacity: 0;
    }
  }
}